/********************************************************************************************************************************************************************************/
/* menu */
#menu {
	/*background: url('../image/bgmenu.png') left top repeat-x #e0e0e0;*/
        width:192px;
        height:40px; 
        border-right:1px solid #5d5d5d; 
        border-left:1px solid #929292; 
        border-bottom:1px solid #575757;
        border-top:1px solid #797979;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
        background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
        background-color:#5f5f5f;
        position:relative;        
        margin:18px auto 0;
        z-index:10;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
        -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
        box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
        font:12px/18px "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	min-height: 35px;
	margin:0 auto 0px;
	width:1064px;
	padding:0;
	/*border-bottom:2px solid #333333;*/
        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;

        -moz-box-shadow: 0px 3px 3px #cecece;
        -webkit-box-shadow: 0px 3px 3px #cecece;
        box-shadow: 0 3px 4px #8b8b8b;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
}
#menu > ul { width:750px; padding-left:0px; float:left;}
#menu > ul > li:first-child {
    border-left: none;
}
#menu > ul > li {
	float: left;
	z-index: 10;
	padding:0px 1px 0px 0px;
	position:relative;
	border-right: 1px solid #5D5D5D;
        border-left: 1px solid #929292;  
	width:135px;
}
#menu > ul > li > a {
	font-size: 12px;
	color: #fff;        
	line-height: 16px;
	text-decoration: none;
	display:table-cell;
	padding: 0px 0px 0px 20px;
	text-align:left;
	z-index: 1;
	position: relative;
	height:40px;
        text-shadow: 0 -1px 1px #202020;
	font-weight:bold;
	text-transform:uppercase;
	vertical-align:middle;
	width:115px;
}


#menu > ul > li > a:hover, #menu > ul > li.sfHover > a, #menu > ul > li.active > a   {
        color:#fff;     
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
        background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
        background-color:#383838;	
        /* We use the inset of the box shadow to create a subtle inner glow when hovering */
        -moz-box-shadow: inset 0 0 5px 5px #535353;
        -webkit-box-shadow: inset 0 0 5px 5px #535353;
        box-shadow: inset 0 0 5px 5px #535353;
}
#menu > ul > li > ul {
	display: none;
	position: absolute; 
	z-index: 99;
	padding:0 0 5px 0;
	/*background:#2e2e2e;*/
        background: #000;
        opacity: 0.85;
        filter:alpha(opacity=85);
	left:0px;
	top:40px;
	width:200px;
	margin:0 !important;
        
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li ul + ul {
	padding-left: 0px;
	min-height:162px;
}
#menu > ul  li.last { border:none;}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding:0px 0px 0px 0px;
	color: #acacac;
	display: block;
	white-space: nowrap;
}
#menu > ul > li ul > li.last > a{ border:none;}
#menu > ul > li ul > li > a:hover, #menu > ul > li ul > li.menu-a > a, #menu > ul > li ul > li.sfHover > a {
	color:#747575;
}
#menu > ul > li > ul > ul > li:last-child > a { border:none}
#menu > ul > li > ul > ul > li {
}
#menu > ul > li > ul > ul > li:hover, #menu > ul > li > ul > ul > li.active { color:#fff; }
#menu > ul > li > ul > ul  li { 
    position:relative; 
    background:url(../image/menu-li-bg.gif) repeat-x; 
    padding:0 22px;
}
#menu > ul > li > ul > ul  li:first-child { background:none;}
#menu > ul > li > ul > ul > li.last { border:none;}  
#menu > ul > li > ul > ul > li  a {
	color:#fff;
	font-size:12px;
	text-transform:none;
	line-height:32px;
	text-align:left;
	background:url(../image/header-menu-marker.png) 0 13px no-repeat;
	padding-left:15px;

}
#menu ul > ul > li ul  { 
	position:absolute;
	left:200px;
	top:0px;
	background:#2e2e2e; 
	width:200px;
	padding:0  0 2px 0;
} 
#menu ul > ul > li ul li a {
	color: #747575;
	font-size:12px;
	text-transform:none;
	line-height:32px;
	background:url(../image/header-menu-marker.png) 0 13px no-repeat;
	font-weight:normal;
}
#menu ul > ul > li ul li a:hover, #menu ul > ul > li ul li a.active { color:#fff; }
#menu  ul li img {
 position:absolute;
 background:#fff;
 display:none;
 color:#ddd;
 border-left:1px solid #000;
 width:161px;
 height:161px;
 z-index:99;
 right:1px; top:1px;
 
}
#menu  ul li li:hover img { display:none;} 

#menu ul li.bgHome {
    background: url('../image/apple_icon.png') center 4px no-repeat;
}
#menu ul li.bgHome a {
    background: url('../image/apple_icon.png') center 4px no-repeat transparent;   
}